extends layout.pug

block content
	.container
		.row
			.col-xs-12.text-center
				h1 Reddit Chicks
				img(src="/img/logo--transp.png" height="128")
				h4 a Discord and Telegram bot.
		.row
			.col-xs-12
				h2.question.text-center FAQ

				ul
					li
						h3.question 1. What does this bot do?
						p
							| You search for a name, then if it exists as a subreddit (
							a(href="http://www.reddit.com" target="_blank" rel="noopener") Reddit
							| ) you'll get a random image from the first page listed on that sub.
						p In <span class="accent">Discord</span>, you have to write:
						pre >SubredditName
						p in <span class="accent">Telegram</span> instead you have to write:
						pre /SubredditName
						
						br
						h4.question.text-center &mdash; advanced things for Telegram &mdash;
						pre @RedditChicksBot SubredditName
						p You can even sort by hot, new, top and controversial, typing this
						pre @RedditChicksBot SubredditName new
					li
						h3.question 2. Where can I download it?
						a(href="http://t.me/RedditChicksBot" target="_blank" rel="noopener") Telegram
						br
						a(href="https://discordapp.com/oauth2/authorize?&client_id=341723193276497920&scope=bot&permissions=0" target="_blank" rel="noopener") Discord
					li
						h3.question 3. Why is it named "Reddit Chicks" if it searches every sub?
						p Because my friend and I weren't satisfied with the images we were getting using other NSFW bots, so I did this one.
					li
						h3.question 4. Why does the bot sometimes not reply?
						p Because I'm broke af and I can't even afford to pay €10/month to rent a server :D it's the same reason because when it doesn't reply, the website is slow to load: the server is hibernated and needs to be restarted. Just come back here to do that.
					li
						h3.question 5. Can I help you to rent one?
						p Would be really nice, just donate here:
						form.text-center(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
							input(type='hidden', name='cmd', value='_s-xclick')
							input(type='hidden', name='hosted_button_id', value='L9Z5KBN4CWVQL')
							input(type='image', src='https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.')
							img(alt='', border='0', src='https://www.paypalobjects.com/it_IT/i/scr/pixel.gif', width='1', height='1')
					li
						h3.question 6. Rather than a donation, I'd like to help with the code
						p That's nice too! The repo is  
							a(href="https://gitlab.com/Azmos/reddit-chicks" target="_blank" rel="noopener") here


block footer
	.container.text-center
		.row
			.col-xs-12
				p All rights reservered.