doctype html
html
	head
		title Reddit Chicks
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(href="/theme.css" rel="stylesheet")
		
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		
		meta(name='description', content='A Discord and Telegram bot.')
		meta(property='keywords', content='discord,telegram,bot')
		meta(property='og:title', content='Reddit Chicks')
		meta(property='og:site_name', content='Reddit Chicks')
		meta(property='og:locale', content='en_US')
		meta(property='og:url', content='http://reddit-chicks.herokuapp.com')
		meta(property='og:image', content='/img/logo--transp.png')
		meta(property='og:description', content='A discord and Telegram Bot')
		meta(property='og:type', content='website')
		meta(property='twitter:title', content='Reddit Chicks')
		meta(property='twitter:description', content='A Discord and Telegram bot.')
		meta(property='twitter:site', content='http://reddit-chicks.herokuapp.com')


	body
		block content
		block footer