body {
  background-color: #111;
  color: #fff;
}
a {
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}
a:link,
a:visited {
  color: #ff3d7f;
}
a:hover,
a:active {
  color: #fe6c9d;
}
.question,
.accent {
  color: #ff3d7f;
}
ul,
li {
  list-style: none;
}
li > h3 {
  margin-left: -2.75rem;
}
ul {
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}
