body
	background-color #111
	color white

a
	transition .2s ease-in-out
	text-decoration underline
	&:link, &:visited
		color #FF3D7F
	&:hover, &:active
		color #fe6c9d

.question, .accent
	color #FF3D7F
ul, li
	list-style none
li > h3
	margin-left -2.75rem
ul
	padding: 0
	margin-left 3rem
	margin-right 3rem